.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.product-item {
  flex: 1 1 300px; /* Adjust the width of the product items */
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-photo {
  width: 100%;
  height: auto;
  max-height: 200px; /* Adjust the max-height as needed */
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.quantity-input {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.whatsapp-link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #25D366;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.whatsapp-link:hover {
  background-color: #128C7E;
}